<% if post.errors.any? %>
    <ul>
        <% post.errors.full_messages.each do |error|%>
            <li> <%= error %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for post do |f| %>
    <div >
        <%= f.label "Product" %>
        <%= f.select(:product_id, @products.map{|p| [p.name, p.id]})%>
    </div>
    <div >
        <%= f.label "Price per unit" %>
        <%= f.text_field :price_per_unit, value: post.price_per_unit %>
    </div>
    <div >
        <%= f.label "Units available" %>
        <%= f.number_field :units_available, value: post.units_available %>
    </div>
    <div >
        <%= f.label :city %>
        <%= f.text_field :city, value: post.city %>
    </div>
    <div >
        <%= f.label :state %>
        <%= f.select(:state, options_for_select([['ACT', 'ACT'], ['NSW', 'NSW'], ['NT', 'NT'], ['QLD', 'QLD'], ['TAS', 'TAS'], ['VIC', 'VIC'], ['WA', 'WA']])) %>
    </div>
    <div>
        <%= f.label :picture %> 
        <%= f.file_field :picture, accept:'image/png,image/gif,image/jpeg,image/jpg' %>
    </div>
    <div >
        <%= f.submit %>
    </div>
<% end %>