<%= image_tag @post.picture if @post.picture.attached? %>
    <h2> <%= @post.product.name %> </h2>
    <li> Price per unit: <%= @post.price_per_unit %> </li>
    <li> Units available: <%= @post.units_available %> </li>
    <li> City: <%= @post.city %> </li>
    <li> State: <%= @post.state %> </li>
    <%= form_with model: @post, local: true, method: "delete" do |form| %>
        <% if current_user.id == @post.user_id %>
            <%= submit_tag "delete" %>
            <button><%= link_to "edit", edit_post_path(@post.id) %> </button>
        <% end %> 
<% end %>

 <%= form_with model: @review, url: create_review_path, local: true, method: "post" do |form| %>

    <%= form.label :"Enter your review here"%>
    <%= form.text_field :text_field %>
    
    <%= form.hidden_field :post_id, :value => @post.id %>
    <%= submit_tag "submit" %>

<% end %>

<h3> Reviews </h3>
<% @reviews.each do |review| %>
    <% if review.post_id == @post.id %>
     <ul class ="comment-list">
        <li> <%= User.find(review.user_id).email %> </li>
    
       <li> <%= review.comment %> </li>
    </ul>
    <% end %> 
<% end %>